{% extends 'adminbase.html' %}
{% block content %}

<div style="margin:100px 50px 50px 50px;">
    <center>
    <h2 style="margin: 10px;">New Contractor</h2></center>
   <table border="1" id="customers" >
       <tr>
           <th>NAME</th>
           <th>ADDRESS</th>
           <th>CONTACT</th>
           <!-- <th>PREVIOUSWORK</th> -->
           
           <th>EMAIL</th>
           <th >PHOTO</th>
           <th>
            Approve
        </th> <th>
            Reject
        </th>
       </tr>
       {% for d in data %}
       <tr>
           <td>{{d.0}}</td>
           <td>{{d.1}}</td>
           <td>{{d.2}}</td>
           <!-- <td><img src="../static{{d.3}}" height="100px" width="100px"></td> -->
          
           <td>{{d.3}}</td>
           <td><img src="../static{{d.5}}" height="200px" width="200px"></td>
           <td><a href="/adminapproveuser?id={{d.3}}&status=1&url=/admincontractor" style="color:blue">Approve</a></td>
           <td><a href="/adminapproveuser?id={{d.3}}&status=-1&url=/admincontractor" style="color:blue">Reject</a></td>
       </tr>
       {% endfor %}
   </table>


   <center>
     <h1>  Existing Contractors</h1> 
   </center>
   <table border="1" id="customers" style="margin-top: 50px;">
    <tr>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>CONTACT</th>
        <!-- <th>PREVIOUSWORK</th> -->
        <th>EMAIL</th>
        <th >PHOTO</th>
    </tr>
    {% for d in data1 %}
    <tr>
        <td>{{d.0}}</td>
        <td>{{d.1}}</td>
        <td>{{d.2}}</td>
        <!-- <td><img src="../static{{d.3}}" height="100px" width="100px"></td> -->
        <td>{{d.3}}</td>
        <td><img src="../static{{d.4}}" height="100px" width="100px"></td>
        <td><a href="/deletecon?email={{d.3}}"><font color="red">DELETE</font></a></td>
    </tr>
    {% endfor %}
</table>
</div>
<script>
    var msg="{{msg}}"
    if(msg!="")
        alert(msg)
    </script>
{% endblock %}