{% extends 'adminbase.html' %}
{% block content %}

<div style="margin:100px 50px 50px 50px;">
    <center>
    <h1 style="margin: 50px;">New Shop</h1>
    </center>
   <table border="1" id="customers" >
       
       <tr>
           <th>NAME</th>
           <th>ADDRESS</th>
           <th>CONTACT</th>
           <th>Image</th>
           
           <th>EMAIL</th>
           
       </tr>
       {% for d in data %}
       <tr>
           <td>{{d.1}}</td>
           <td>{{d.2}}</td>
           <td>{{d.3}}</td>
           <td><img src="../static{{d.4}}" height="100px" width="100px"></td>
          
           <td>{{d.5}}</td>
           
           <td><a href="/adminapproveuser?id={{d.5}}&status=1&url=/viewshop" style="color:blue">Approve</a></td>
           <td><a href="/adminapproveuser?id={{d.5}}&status=-1&url=/viewshop" style="color:blue">Reject</a></td>
       </tr>
       {% endfor %}
   </table>
   <table border="1" id="customers" style="margin-top: 50px;">
    <center>
        <h2 style="margin: 10px;">Existing Shop</h2>
    </center>
    <tr>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>CONTACT</th>
        <th>IMAGE</th>
        <th>EMAIL</th>
        
    </tr>
    {% for d in data1 %}
    <tr>
        <td>{{d.1}}</td>
        <td>{{d.2}}</td>
        <td>{{d.3}}</td>
        <td><img src="../static{{d.4}}" height="100px" width="100px"></td>
        <td>{{d.5}}</td>
        
        
    </tr>
    {% endfor %}
</table>
</div>
<script>
    var msg="{{msg}}"
    if(msg!="")
        alert(msg)
    </script>
{% endblock %}