{% extends 'modulecommon.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
</style>
<div style="margin:100px 50px 50px 50px;">
    <h1 style="margin: 50px;">Contractor</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <table style="margin: 50px;" >
        <tr>
            <td>Name</td>
            <td><input type="text" class="form-control" name="txtName" required pattern="[a-zA-Z ]+"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><textarea name="txtAddress" class="form-control" required></textarea></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td><input type="text" class="form-control" name="txtContact" required pattern="[6789][0-9]{9}"></td>
        </tr>
        <tr>
            <td>Previous work</td>
            <td><input type="file" class="form-control" name="txtpw" required ></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" class="form-control" name="txtEmail" required ></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" class="form-control" name="txtPassword" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"></td>
        </tr>
        <tr>
            <td>Upload Photo</td>
            <td><input type="file" class="form-control" name="txtFile" required ></td>
        </tr>

        <tr>
            <td>About</td>
            <td><textarea name="about" class="form-control" required></textarea></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Register" class="btn btn-primary"></td>
        </tr>
    </table>
    </form>
</div>
<script>
    var msg="{{msg}}"
    if(msg!="")
        alert(msg)
    </script>
{% endblock %}