{% extends 'customerbase.html' %}
{% block content %}

<div style="margin:100px 50px 50px 50px;">
    <h1 style="margin: 50px;">Design request</h1>
    
    <table border='1'id="customers"  >
        <tr>
            <th>REQUEST ID</th>
            <th>DESIGNER</th>
            <th>AREA</th>
            <th>ESTIMATED COST</th>
 
            <th>STATUS</th>
                       
        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.0}}</td>
            <td>{{d.1}}</td>
            <td>{{d.2}}</td>
            <td>{{d.3}}</td>
            <td>{{d.5}}</td>
            
        </tr>
        {% endfor %}
    </table>
</div>
<script>
    var msg="{{msg}}"
    if(msg!="")
        alert(msg)
    </script>
{% endblock %}