{% extends 'customerbase.html' %}
{% block content %}

<div style="margin:100px 50px 50px 50px;">
    <h1 style="margin: 50px;">Quotations</h1>
    
    <table border='1' id="customers" >
        <tr>
            <th>REQUEST ID</th>
            <th>ARCHITECT</th>
            <th>AREA</th>
            <th>ESTIMATED COST</th>
            <th>FEES</th>
            <th>PLAN</th>


            
        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.0}}</td>
            <td>{{d.1}}</td>
            <td>{{d.2}}</td>
            <td>{{d.3}}</td>
            <td>{{d.7}}</td>
            <td><img src="static{{d.6}}" width="250px" height="250px"></td>

            <!-- <td><a style="display: inline; font-style: oblique;" href="/payment?amount={{d.7}}">Payment</a></td> -->
          
            
        </tr>
        {% endfor %}
    </table>
</div>
<script>
    var msg="{{msg}}"
    if(msg!="")
        alert(msg)
    </script>
{% endblock %}