{% extends 'customerbase.html' %}
{% block content %}

<div style="margin:100px 50px 50px 50px;">
    <h1 style="margin: 50px;">Videos</h1>
    
    <table border='1'id="customers"  >
        <tr>
            <th>REQUEST ID</th>
            <th>DESIGNER</th>
            <th colspan="3">VIDEO</th>
            <th>REJECT</th> 



        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.0}}</td>
            <td>{{d.1}}</td>
            <td><a href="/customerview3D?id={{d.2}}"><video controls muted style="height: 150px; width:150px; margin-top: 50px;" autoplay="autoplay" controls="controls">
                <source src="../static{{d.2}}" colspan="3" type="video/mp4">
            </video></a>
                </td>
                <td>{{d.5}}</td>
            <td><a style="color: blue;" href="/customervideoupdate?id={{d.4}}&status=approved&fees={{d.5}}&url=/customerselectcontractor">Approve</a></td>
            <td><a style="color: blue;" href="/customervideoupdate?id={{d.4}}&status=rejected&url=/customervideo">Reject</a></td>
            <!-- <td><a style="color: blue;" href="/payment?amount={{d.4}}">payment</a></td> -->
           
        </tr>
        {% endfor %}
    </table>
    <!-- <table border='1' style="margin-top: 50px;" >
        <tr>
            <th>REQUEST ID</th>
            <th>DESIGNER</th>
            <th >VIDEO</th>
            
            
        </tr>
        {% for d in data1 %}
        <tr>
            <td>{{d.0}}</td>
            <td>{{d.1}}</td>
            <td><a href="/customerview3D?id={{d.2}}"><video style=" height: 150px; width:150px; margin-top: 50px;" autoplay="autoplay" controls="controls">
                <source src="../static{{d.2}}" type="video/mp4">
            </video></a>
                </td>
            
            
        </tr>
        {% endfor %}
    </table> -->



<center><h1> Previous Videos</h1></center>
    <div style="margin:100px 50px 50px 50px;">
        <h1 style="margin: 50px;">Videos</h1>
        
        <table border='1'id="customers"  >
            <tr>
                <th>REQUEST ID</th>
                <th>DESIGNER</th>
                <th colspan="3">VIDEO</th>
               
               
    
    
            </tr>
            {% for d in data1 %}
            <tr>
                <td>{{d.0}}</td>
                <td>{{d.1}}</td>
                <td><a href="/customerview3D?id={{d.2}}"><video controls muted style="height: 150px; width:150px; margin-top: 50px;" autoplay="autoplay" controls="controls">
                    <source src="../static{{d.2}}" colspan="3" type="video/mp4">
                </video></a></td>
                    <td>{{d.5}}</td>
              
                <!-- <td><a style="color: blue;" href="/payment?amount={{d.4}}">payment</a></td> -->
               
            </tr>
            {% endfor %}
        </table>
</div>

<script>
    var msg="{{msg}}"
    if(msg!="")
        alert(msg)
    </script>
 
{% endblock %}