{% extends 'designerbase.html' %}
{% block content %}
<h1 style="margin: 50px;">Previous Videos</h1>

    <!-- <h1 style="margin: 50px;">Videos</h1> -->
    
    <table border='1'id="customers"  >
        <tr>
            <th>REQUEST ID</th>
            <th>DESIGNER</th>
            <th colspan="3">VIDEO</th>
            <th >FEES</th>  
            <th >plan</th>  

        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.0}}</td>
            <td>{{d.1}}</td>
            <td><a href="/customerview3D?id={{d.2}}"><video controls muted style="height: 150px; width:150px; margin-top: 50px;" autoplay="autoplay" controls="controls">
                <source src="../static{{d.2}}" colspan="3" type="video/mp4">
            </video></a>
                </td>
                <td></td>
                <td></td>
                <td>{{d.5}}</td>
                <td><img src="../static{{d.6}}"></td>
          
            <!-- <td><a style="color: blue;" href="/payment?amount={{d.4}}">payment</a></td> -->
           
        </tr>
        {% endfor %}
    </table>
</div>
<script>
var msg="{{msg}}"
if(msg!="")
    alert(msg)
</script>
{% endblock %}