{% extends 'commonbase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
</style>
<div style="margin:100px 50px 50px 50px;">
    <h1 style="margin: 50px;">Login</h1>
    <form method="POST">
        {% csrf_token %}
    <table style="margin: 50px;" >
        <tr>
            <td>Username</td>
            <td><input type="email" class="form-control" name="txtEmail" required></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" class="form-control" name="txtPassword" required></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" class="btn btn-primary" value="Login"></td>
        </tr>
    </table>
</form>
</div>
<script>
    var msg="{{msg}}"
    if(msg!="")
        alert(msg)
    </script>
{% endblock %}