<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta tags -->
	<title>Realbuild a Realestate Category Flat Bootstrap Responsive Website | Home :: w3layouts</title>
	<meta name="keywords" content="Realbuild a Realestate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- stylesheets -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/font-awesome.css">
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,700i,800,900" rel="stylesheet">
	<!-- scripts -->
	<script src="../static/js/jquery.min.js"></script>
</head>

<body>
	<div class="video-responsive">
		<video class="video" muted="muted" loop="loop" autoplay="autoplay">
			<source src="../static/video/real2.mp4" type="video/mp4">
			Your browser does not support HTML5 video.
		</video>

		<canvas class="canvas"></canvas>

		<div id="over_video">
			<div class="bg-mask">
				<nav class="navbar w3-navbar">
					<div class="navigation-overlay">
						<div class="container-fluid">
							<div class="nav-top">
								<div class="w3-contact">
									<!-- <a> <span class="fa fa-volume-control-phone" aria-hidden="true"> </span>+692 527 6524</a>
									<a href="mailto:abcd@yoursite.com"><span class="fa fa-envelope-o"
											aria-hidden="true"></span>admin@realbuild.com</a> -->
								</div>
								<div class="w3-socials">
									<!-- <ul>
										<li>
											<a href="#"><span class="fa fa-facebook"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-vk"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-pinterest-p"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-twitter"></span></a>
										</li>
									</ul> -->
								</div>
							</div>

							<div class="row">

								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>

									<!-- Logo -->
									<div class="logo-container">
										<div class="logo-wrap">
											<a href="/" class="scroll">
												Realbuild
											</a>
										</div>
									</div>
								</div> <!-- end navbar-header -->


								<div class="col-md-8 col-xs-12 nav-wrap">
									<div class="collapse text-center navbar-collapse w3ls-nav navbar-collapse">

										<ul class="nav navbar-nav w3ls-nav1 text-center">

											<li class="active">
												<a href="/" >Home</a>
											</li>
											<li>
												<a href="/architect" >Architect</a>
											</li>
											<li>
												<a href="/designer" >Designer</a>
											</li>
											<li>
												<a href="/contractor">Contractor</a>
											</li>
											<li>
												<a href="/customer" >Customer</a>
											</li>
											<!-- <li>
												<a href="/shop" >Shop</a>
											</li> -->



										</ul>
									</div>
								</div> <!-- end col -->
							</div> <!-- end row -->
						</div> <!-- end container -->
					</div> <!-- end navigation -->
				</nav> <!-- end navbar -->

				<div class="heading">
					<h1>The Fastest Growing RealEstate Business</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when
						looking at its layout.</p>
					
					<!-- bootstrap-pop-up -->
					<div class="modal video-modal fade" id="property0" tabindex="-1" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									Realbuild
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
											aria-hidden="true">&times;</span></button>
								</div>
								<section>
									<div class="modal-body">
										<img src="../static/images/property7.jpg" alt=" " class="img-responsive" />
										<p>It is a long established fact that a reader will be distracted by the readable content of a page
											when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
											distribution of letters, making it look like readable English.</p>
									</div>
								</section>
							</div>
						</div>
					</div>
					<!-- //bootstrap-pop-up -->
				</div>

			</div>
		</div>
	</div>
	<style>
		.video-responsive {
			padding-bottom: 750px;
			position: relative;
			width: 100%;
		}

		.canvas,
		.video {
			left: 0;
			position: absolute;
			top: 0;
			background: #000;
			z-index: 5;
			overflow: hidden;
			width: 100%;
			height: 750px;
			object-fit: cover;
		}

		#over_video {
			position: absolute;
			width: 100%;
			height: 100%;
			text-align: center;
			top: 0;
			z-index: 10;
			color: #FFF;
		}
		@media screen and (max-width: 1280px) {
			.video-responsive {
				padding-bottom: 650px;
			}
			.canvas,
			.video {
				height: 650px;
			}
		}
		@media screen and (max-width: 1080px) {
			.video-responsive {
				padding-bottom: 600px;
			}
			.canvas,
			.video {
				height: 600px;
			}
		}
		@media screen and (max-width: 568px) {
			.video-responsive {
				padding-bottom: 550px;
			}
			.canvas,
			.video {
				height: 550px;
			}
		}
	</style>

	<script src="../static/js/canvas-video-player.js"></script>


	<script>
		var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);

		if (isIOS) {

			var canvasVideo = new CanvasVideoPlayer({
				videoSelector: '.video',
				canvasSelector: '.canvas',
				timelineSelector: false,
				autoplay: true,
				makeLoop: true,
				pauseOnClick: false,
				audio: false
			});

		} else {

			// Use HTML5 video
			document.querySelectorAll('.canvas')[0].style.display = 'none';

		}
	</script>

	<!-- About us -->
	<div class="agile-about" id="about">
		<h3 class="center">About Us</h3>
		<div class="container">
			<h2>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
				search for 'lorem ipsum' will uncover many web sites still in their infancy.</h2>
			<div class="clearfix"></div>
		</div>

		
	</div>
	<!-- //About us -->
	<!-- Partners -->
	
	<!-- //Partners -->
	<!-- Gallery Property -->
	
	<!-- //Gallery Property-->
	<!-- our guides -->
	
	<!-- //our guides -->
	<!-- testimonials -->

	<!-- //testimonials -->
	<!-- contact -->
	
	</div>
	

	<script src="../static/js/bootstrap.min.js"></script>


	<!-- smooth scrolling -->
	<script src="../static/js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->

	<!-- scrolling script -->
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //scrolling script -->

</body>

</html>