{% extends 'shopbase.html' %}
{% block content %}

<div style="margin:100px 50px 50px 50px;">
    <h1 style="margin: 50px;">PRODUCT BOOKINGS</h1>
   <table border="1" id="customers" >
       <tr>
           <th>NAME</th>
           <th>ADDRESS</th>
           <th>CONTACT</th>
           
           <th>EMAIL</th>
         <th>PRODUCT</th>
         <th>QUANTITY NEEDED</th>
       </tr>
       {% for d in data %}
       <tr>
           <td>{{d.5}}</td>
           <td>{{d.6}}</td>
           <td>{{d.7}}</td>
           <td>{{d.8}}</td>
           <td>{{d.2}}</td>
           <td>{{d.3}}</td>

           
       </tr>
       {% endfor %}
   </table>
   
</div>
<script>
    var msg="{{msg}}"
    if(msg!="")
        alert(msg)
    </script>
{% endblock %}