<html><head>
	<link rel="stylesheet" type="text/css" href="http://127.0.0.1/bill_connect-final/assets/card.css">
  <meta charset="utf-8">
  <title></title>
  <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec3494….ico">
  <script type="text/javascript">
    $('input[type="checkbox"]').on('click',function(){
var selected = $(this).parent().parent().parent();    $(selected).toggleClass('highlight');
});
  </script>
  <link rel="stylesheet" href="http://127.0.0.1/bill_connect-final/assets/style.css">
  
</head>
<body style="background-image: url(http://127.0.0.1/bill_connect-main/assets/indexassets/img/bg_hero_2.svg); background-size:cover;" data-new-gr-c-s-check-loaded="14.1038.0" data-gr-ext-installed="">
  <form method="post" >
    {% csrf_token %}
  <div id="wrapper">
  <div class="row">
     <a href="paymentplan">
    <div class="col-xs-5">
      <div id="cards">
        <img src="http://127.0.0.1/bill_connect-final/assets/pic/Visa-icon.png">
        <img src="http://127.0.0.1/bill_connect-final/assets/pic/Master-Card-icon.png">
      </div><!--#cards end-->
      <div class="form-check">
 
</div>
    </div><!--col-xs-5 end-->
  </a>
    <a href="upipayment">
    <div class="col-xs-5">
      <div id="cards">
        <img src="http://127.0.0.1/bill_connect-final/assets/pic/upi.png">
      </div><!--#cards end-->
      <div class="form-check">
  
</div>
    </div><!--col-xs-5 end-->
    </a>
  </div>
  <div class="row">
    <div class="col-xs-5" align="center">
      <p style="color:red;"> </p>
      <label class="form-check-label" for="paypal" style="color:#12c312;">
    Pay ₹ {{fees}} with upi
  </label>
    </div><!--col-xs-5-->
    
  </div><!--row end-->
  <div class="row row-three">
    <div class="col-xs-2">
      
    </div><!--col-xs-3-->
    <div class="col-xs-2">
      <i class="fa fa fa-user"></i>
          </div><!--col-xs-3-->
    <div class="col-xs-5">
      
    </div><!--col-xs-6 end-->
  </div><!--row end-->
  <br><br><br><br>
  <footer>
    <input type="hidden" name="amt" value="">
    
    <button type="submit" class="btn">Pay ₹
  </button></footer>

</div><!--wrapper end-->
</form>

</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>